.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 6rem 2rem;
}

.pagination button {
  padding: 8px 16px 11px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination button:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
  background-color: #ddd;
}
