html {
    box-sizing: content-box;
}

html * {
    box-sizing: inherit;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fffffffc;
    padding: 22px;
    box-shadow: 1px 2px 5px rgb(0 0 0 / 17%);
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100%;
    p,h5    {
        margin: 6px;
    }
}
header input{
    font-size: 18px;
}

input:focus {
    outline: none;
    border: 1px solid gray;
    border-radius: 6px;
    box-shadow: none;
  }

  input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px white inset !important;
    border: 1px solid gray !important;
    border-radius: 6px !important;
  }
  
  
input[type="text"]{
    margin: auto;
}

header .input-group {
    position: relative;
}

header .input-group .form-control {
    border: 1px solid gray;
    padding: 6px 6px 6px 28px;
    border-radius: 6px;  
}

header .input-group .input-group-text {
    font-weight: 100;
    position: absolute;
    left: 6px;
    top: 53%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    color: #cecece;
    pointer-events: none;/* Evita que el ícono sea clickeable */
}