.container{
    display: flex;
    background-color: #eee;
    justify-content: center;
    margin: 4rem 0 0 0px;
}

.center{
    display: flex;
    flex-wrap: wrap;
    /* column-count: 3; */
    justify-content: center;
    width: 1200px;
    width: 1200px;
}

article {
    display:inline-block;
    width: 360px;
    transition: box-shadow 0.2s ease;
    margin: 40px 10px 0 10px;
    background-color: #fff;
    cursor: pointer;
    border-radius: 8px;
}

article > img {
    object-fit: cover;
    filter: brightness(80%);
    transition: 1s;
    user-select: none;
    width: inherit;
    height: 200px;
    border-radius: 8px 8px 0 0;
}
article > img:hover {
    filter: brightness(100%);
    transition: all 0.2s ease;
}
article > h3  {
    margin: 10px 14px 0px;
}
article > p {
    margin: 0px 15px 15px; ;
    color: #494949;
}
article:hover {
    box-shadow: 0 3px 15px rgba(0,0,0,0.3);
}
.container-view-api{
}